<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button>
          <ion-icon lazy="true" slot="start" name="download"></ion-icon>
          <ion-label>Import PokeGenie CSV</ion-label>
          <input type="file" (change)="handleImport()" #fileInput accept="text/csv">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="fileLoading"><ion-progress-bar  [value]="fileLoadingProgress"></ion-progress-bar></ng-container>
  <div #pgTable *ngIf="fileLoaded">
    <ion-grid>
      <ion-row class="headerRow">
        <ion-col size="">
          <p class="pgHeader">Pokemon</p>
        </ion-col>
        <!-- <ion-col size="">
          <p class="pgHeader">Form</p>
        </ion-col> -->
        <ion-col size="">
          <p class="pgHeader">Total</p>
        </ion-col>
        <ion-col size="" class="ion-hide-md-down">
          <p class="pgHeader">GL</p>
        </ion-col>
        <ion-col size="" class="ion-hide-md-down">
          <p class="pgHeader">UL</p>
        </ion-col>
        <ion-col size="" class="ion-hide-lg-up">
          <p class="pgHeader">Best Result</p>
          <small>Rank | Evo | League | Dust</small>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="pgDataArray">
        <ion-row *ngFor="let mon of pgDataArray">
          <ion-col size="">
            <p class="">{{mon.Name}}</p>
          </ion-col>
          <ion-col size="">
            <p class="">{{mon.Form}}</p>
          </ion-col>
          <ion-col size="">
            <p class=""></p>
          </ion-col>
          <ion-col size="" class="ion-hide-md-down">
            <p class=""></p>
          </ion-col>
          <ion-col size="" class="ion-hide-md-down">
            <p class=""></p>
          </ion-col>
          <ion-col size="" class="ion-hide-md-down">
            <p class=""></p>
          </ion-col>
        </ion-row>
      </ng-container>
      <ng-container *ngIf="pgDataMap">
        <ion-accordion-group multiple="false">
          <ion-accordion *ngFor="let pf of (pgDataMap | keyvalue)">
            <ion-item slot="header">
              <ion-label>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      {{pf.value.form ? pf.value.pokemon + " " + pf.value.form : pf.value.pokemon}}
                    </ion-col>
                    <ion-col>
                      {{pf.value.entries.length}}
                    </ion-col>
                    <ion-col class="ion-hide-md-down">
                      {{pf.value.summary.gl.eligible}}
                      <table>
                        <tbody>
                          <tr><td>Rank #</td><td>{{pf.value.summary.gl.rankWorst}} - {{pf.value.summary.gl.rankBest}}</td></tr>
                          <tr><td>SP %</td><td>{{pf.value.summary.gl.spMin}} - {{pf.value.summary.gl.spMax}} %</td></tr>
                        </tbody>
                      </table>
                    </ion-col>
                    <ion-col class="ion-hide-md-down">
                      <p>{{pf.value.summary.ul.eligible}}</p>
                      <table>
                        <tbody>
                          <tr><td>Rank #</td><td>{{pf.value.summary.ul.rankWorst}} - {{pf.value.summary.ul.rankBest}}</td></tr>
                          <tr><td>SP %</td><td>{{pf.value.summary.ul.spMin}} - {{pf.value.summary.ul.spMax}} %</td></tr>
                        </tbody>
                      </table>
                    </ion-col>
                    <ion-col class="ion-hide-lg-up">
                      <p>{{pf.value.summary.bestRank}}</p>
                    </ion-col>
                    <ion-col class="ion-hide-lg-up">
                      <p>{{pf.value.entries[pf.value.summary.bestIdx]['Rank # (' + pf.value.summary.bestLeague + ')']}}</p>
                    </ion-col>
                    <ion-col class="ion-hide-lg-up">
                      <p>{{pf.value.summary.bestLeague + 'L'}}</p>
                    </ion-col>
                    <ion-col class="ion-hide-lg-up">
                      <p>{{pf.value.entries[pf.value.summary.bestIdx]['Dust Cost (' + pf.value.summary.bestLeague + ')']}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-label>
            </ion-item>
            <ion-grid slot="content">
              <ion-row class="subHeader">
                <ion-col>
                  Name
                </ion-col>
                <ion-col>
                  IVs (atk-def-sta)
                </ion-col>
                <ion-col class="ion-hide-md-down">
                  Moves
                </ion-col>
                <ion-col class="ion-hide-md-down">
                  GL<br/>
                  <small>Pokemon | Rank | SP % | Dust</small>
                </ion-col>
                <ion-col class="ion-hide-md-down">
                  UL<br/>
                  <small>Pokemon | Rank | SP % | Dust</small>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let mon of pf.value.entries; index as i;let count" padding>
                <!-- <ion-col>{{i}}</ion-col> -->
                <ion-col size="">
                  <p class="">{{mon.Name}} 
                      <img *ngIf="mon['Shadow/Purified'] == 1" class="shadowPureIcon" [src]="shadowIconUrl" alt="shadow pokemon icon">
                      <img *ngIf="mon['Shadow/Purified'] == 2" class="shadowPureIcon" [src]="purifiedIconUrl" alt="purified pokemon icon">
                    </p>
                  </ion-col>
                <ion-col size="">
                  <p class="">{{mon["Atk IV"]}}-{{mon["Def IV"]}}-{{mon["Sta IV"]}}</p>
                </ion-col>
                <ion-col size="" class="ion-hide-md-down">
                  <table>
                    <tbody>
                      <tr><td class="ion-padding-end">QM</td><td class="ion-padding-end">{{mon["Quick Move"]}}</td></tr>
                      <tr><td class="ion-padding-end">CM 1</td><td class="ion-padding-end">{{mon["Charge Move"]}}</td></tr>
                      <tr><td class="ion-padding-end">CM 2</td><td class="ion-padding-end">{{mon["Charge Move 2"]}}</td></tr>
                    </tbody>
                  </table>
                </ion-col>
                <ion-col size="" class="ion-hide-md-down">
                  <table>
                    <tbody>
                      <tr>
                        <td class="ion-padding-end">{{mon["Name (G)"]}}
                          <img *ngIf="mon['Sha/Pur (G)'] == 1" class="shadowPureIcon" [src]="shadowIconUrl" alt="shadow pokemon icon">
                          <img *ngIf="mon['Sha/Pur (G)'] == 2" class="shadowPureIcon" [src]="purifiedIconUrl" alt="purified pokemon icon">
                        </td>
                        <td class="ion-padding-end">{{mon["Rank (G)"]}}</td>
                        <td class="ion-padding-end">{{mon["Stat Prod (G)"]}}</td>
                        <td class="ion-padding-end">{{mon["Dust (G)"]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </ion-col>
                <ion-col size="" class="ion-hide-md-down">
                  <table>
                    <tbody>
                      <tr>
                        <td class="ion-padding-end">{{mon["Name (U)"]}}
                          <img *ngIf="mon['Sha/Pur (U)'] == 1" class="shadowPureIcon" [src]="shadowIconUrl" alt="shadow pokemon icon">
                          <img *ngIf="mon['Sha/Pur (U)'] == 2" class="shadowPureIcon" [src]="purifiedIconUrl" alt="purified pokemon icon">
                        </td>
                        <td class="ion-padding-end">{{mon["Rank (U)"]}}</td>
                        <td class="ion-padding-end">{{mon["Stat Prod (U)"]}}</td>
                        <td class="ion-padding-end">{{mon["Dust Cost (U)"]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>
    </ion-grid>
  </div>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>
</ion-content>